  <div class='mheader'>Add Somethings</div>
     
   <div class="mbody">
   	<div>Something</div>
   		<div><input type="text" class="w-250" placeholder="Something" ng-model="name" ng-required/>
   	</div>
   	 	<div class="p-10">Description</div>
   		<div><input type="text"  class="w-400" placeholder="Description" ng-model="description" ng-required/>
   	</div>
   	<div class="mfooter">
   		<input type="button" class="button-cancel w-80" value="Cancel" ng-click="cancel()"></input>
   		<input type="button" class="button-add w-80" value="Save" ng-click="AddNew()"></input>
   	</div>
   </div>